/* ========== INFORMACOES */
.informacoes{
	color: var(--branco);
	background-color: var(--principal-escuro);
}

.informacoes__contatos{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	padding: 1rem;
}

.informacoes__item{
	color: var(--branco);
	font-size: 1.6rem;
}

/* ========== HEADER */
.cabecalho__background{
	background: var(--principal);
}

.cabecalho{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	padding: 1.6rem 1rem;
}

.cabecalho__logo{
	padding-right: 1.6rem;
	
	font-size: 3.6rem;
	font-weight: 700;
}

.cabecalho__listas{
	display: flex;
	flex-wrap: wrap;
}

.cabecalho__logo, .cabecalho__link{
	color: var(--branco);
}

.cabecalho__link{
	padding: 0 1rem 1.6rem 0;
	font-size: 2rem;
	font-weight: 400;
}

.cabecalho__link:hover{
	color: var(--principal-escuro);
}