/* ========== PRECO */
.preco{
	background: var(--cinza-claro);
	
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	padding: 6rem;
}

.preco__card{
	flex: 1 1 260px;
	
	padding: 2rem;
	margin: 1rem;
	border: 4px solid var(--branco);
}

.preco__titulo{
	color: var(--cinza-medio);

	margin-top: 2rem;
	font-size: 4.8rem;
	text-align: center;
}

.preco__valor{
	max-width: 300px;
	display: block;
	
	padding: 1rem 0 .5rem 0;
	margin: 2rem auto;
	border-top: 4px solid var(--branco);
	border-bottom: 4px solid var(--branco);
	
	font-size: 4rem;
	font-weight: 700;
	text-align: center;
}

.preco__valor sup{
	font-size: 2rem;
}

.preco__lista{
	max-width: 300px;
	margin: 2rem auto;
}

.preco__item{
	color: var(--cinza-escuro);

	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 1.5rem;
	font-size: 2rem;
	font-style: italic;
}

.preco__item::after{
	content: '';
	background: var(--principal);
	
	width: 6px;
	height: 6px;
	display: block;
	border-radius: 50%;
}

.preco__botao{
	color: var(--preto);
	
	max-width: 300px;
	display: block;
	padding: 1.5rem;
	margin: 20px auto;
	border: 4px solid var(--preto);
	
	font-size: 3.6rem;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}

.preco__botao:hover{
	color: var(--principal);
}

@media screen and (max-width: 768px){
	.preco{
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.preco .preco__card:nth-child(3){
		order: -2;
	}

	.preco .preco__card:nth-child(2){
		order: -1;
	}
}