/* ========== FOOTER */
.footer{
	background-color: var(--principal);

	height: 200px;
	display: flex;
	align-items: center;
}

.footer__texto{
	color: var(--principal-escuro);
	
	flex: 1;
	font-size: 3.6rem;
	text-align: center;
}

@media screen and (max-width: 768px){
	.footer{
		height: 160px;
	}

	.footer__texto{
		font-size: 2.6rem;
	}
}