*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--branco: #FFFFFF;
	--preto: #222222;
	--cinza-claro: #7c7c7c;

	--principal: #2C70FF;
	--principal-escuro: #122AB2;
}

html{
	font-size: 62.5%;
}

body{
	color: var(--preto);
	font-family: "Nunito", Arial, Helvetica, sans-serif;
}

.container{
	max-width: 980px;
	margin: 0 auto;
}

a, li{
	text-decoration: none;
	list-style: none;
}

img{
	display: block;
	max-width: 100%;
}

@media screen and (max-width: 768px){
	.container{
		margin: 0 1.6rem;
	}
}

@media screen and (max-width: 1024px){
	.container{
		margin: 0 6%;
	}
}